/* Empty. Add your own CSS if you like */
.popover {
  height: initial !important;
  border-radius: 0 !important;
}
.popover ion-header-bar {
  position: relative;
}
.popover ion-content {
  position: relative;
  top: 0;
}
.popover-inner-content {
  width: 100%;
  padding: 5px 20px;
}
.popover-arrow {
	display: none !important;
}